.mainCommentContainer {
    height: 694px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.addComment {
    padding: 0 50px;
    margin-bottom: 40px;
}

.inputContainer textarea {
    height: 150px;
    width: 100%;
    font-family: inherit;
}

.inputContainer input {
    height: 36px;
    font-size: 16px;
    width: 100%;
}

.nameEmail input {
    height: 36px;
    font-size: 16px;
    width: 48%;
    margin: 17px 0;
}

.nameEmail :first-child {
    margin-right: 19px;
}

.showComment {
    height: 281px;
    padding: 0 50px;
}

.commentHeading {
    height: 75px;
    display: flex;
    align-items: center;
}

.commentContent {
    align-items: center;
    justify-content: center;
    display: flex;
}

.imageContainer {
    height: 70px;
    width: 70px;
    background-image: url('../../../public/man.png');
    background-size: cover;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 133px;
}

.commentContainer {
    width: 85%;
    margin: 15px 0;
}

.nameDate {
    display: flex;
    align-items: center;
    flex: start;
}

.nameDate p {
    margin-right: 12px;
}

.commentButton button {
    padding: 4px 15px;
    font-size: 15px;
    border: 2px solid red;
    background-color: red;
    color: white;
    margin: 15px 0;
    cursor: pointer;
}

.commentButton button:hover{
    background-color: rgb(144, 2, 2);
    border: 2px solid rgb(144, 2, 2);
}

.isDarkMode {
    background-color: #222;
    color: white;
}

.isDarkModeInput {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.isDarkModeInput:focus {
    border: 2px solid rgb(77, 77, 77);
    outline: none;
}

.addCommentButton{
    border: 2px solid;
    padding: 6px 12px;
    font-size: 17px;
    margin-top: 15px;
    background-color: green;
    color: white;
    cursor: pointer;
  }
